@font-face {
    font-family:SourceSansPro-ExtraLightItalic;
    src:url(C:\Users\KING\Desktop\programa\fuentes\SoureSansPro/SourceSansPro-ExtraLightItalic.ttf);
}
@font-face {
    font-family:SourceSansPro-Black;
    src:url(C:\Users\KING\Desktop\programa\fuentes\SoureSansPro/SourceSansPro-Black.ttf);
}
@font-face {
    font-family:SourceSansPro-LightItalic;
    src:url(C:\Users\KING\Desktop\programa\fuentes\SoureSansPro/SourceSansPro-LightItalic.ttf);
}
